nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.view{
    background-image: url('image6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
}

footer{
    text-align: center;
}